### Java ###
*.class
hs_err_pid*
replay_pid*

### Logs ###
*.log
logs/

### OS ###
.DS_Store

### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Package files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Environment / Secret ###
.env
.env.*
application-local.yml
application-local.properties